<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core"/>
  </configSections>
  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Assembly="SimpleTwitter.Messages" Endpoint="SimpleTwitter.WriteSide"/>
    </MessageEndpointMappings>
  </UnicastBusConfig>
  
  
  <!--<configSections>
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core"/>
  </configSections>
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="SimpleTwitterErrorQueue.ReadSide" />
  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Assembly="SimpleTwitter.Messages" Endpoint="SimpleTwitter.WriteSide"/>
    </MessageEndpointMappings>
  </UnicastBusConfig>-->

  <connectionStrings>
    <add name="RedisConnectionString" connectionString="localhost:6379,connectTimeout=5000" />
  </connectionStrings>
</configuration>